.env
*/.env/*

.DS_Store
*/.DS_Store
/.ipynb_checkpoints/*
/.ipynb_checkpoints

*/missing-no/data/*
*/missing-no/result-files/*

/LSTM-GRU/models
/LSTM-GRU/models/*
/LSTM-GRU/models/*.pb
/LSTM-GRU/results

/pandas_ai_test/
/pandas_ai_test/*

/pre-processing/data/
/pre-processing/result-files/
/pre-processing/data/*
/pre-processing/result-files/*

*/node_modules/*
*/node_modules